body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(4, 4, 4, 0.1);
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(158, 238, 211);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: #d49494;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}